$fa-font-path:        "/assets/fonts" !default;
//$brand-primary      :   #6f5499;
//$input-border-focus :   #6f5499;
//$border-radius-base :   3px;

@import '../bower_components/fontawesome/scss/font-awesome';
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss

$navbar-background-color:                    #E9573F !default; //#3BAFDA
$navbar-background-color-active:             #FC6E51 !default; //#4FC1E9
$list-primary:                                 #FC6E51 !default;
$label-primary:                                 #FC6E51 !default;
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import '../bower_components/Bootflat/bootflat/scss/bootflat';
@import '../bower_components/Bootflat/bootflat/scss/bootflat.scss';

$primary-red:				#c52f17 !default;

@font-face{
	font-family: Pacifico;
	src: url('/assets/fonts/Pacifico.ttf');
}

// endbower

body{
	background: url("/assets/images/blur-background11.jpg") fixed;//#FC6E51;
}

.trflr-navbar-default{
	background: rgba(255,255,255,0.5);
	border:0px;

	.navbar-nav{
		li{
			a,a:hover,a:focus{
				color: $primary-red;
				background: none;
			}
		}
		
		.active{
			a,a:hover,a:focus{
				color: $primary-red;
				background: none;
				border-bottom: 4px solid $primary-red;
				padding-bottom: 11px;
			}
		}
	}

		& .navbar-brand:hover,
	  	& .navbar-brand:focus{
	      color: $primary-red;
	      background-color: transparent;
	      //text-shadow:0px 1px 2px rgba(94, 76, 76, 0.4);
	  	}
}

.navbar-brand{
	font-family: "Pacifico";
	color:$primary-red;
	font-size: 2em;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);//$darkgray-dark;

	.trflr-brand-t{
		margin-right: -5px;
	}
}

.navbar-brand:hover{
	color:$primary-red;
}

.trflr-label-user{
	font-weight: bold;
	text-align: center;

	i.fa{
		//color:$bittersweet-dark;
	}
}

.trflr-profile-side{
	.trflr-profife-wrapper{
		position: absolute;
		top: 20%;
		left: 15%;
		width: 80%;
		.trflr-avatar-wrapper{
			width: 100px;
			a.trflr-profile-avatar{
				img{
					border: 3px solid white;
					height: 70px;
					width: 70px;
					box-shadow: 0px 0px 5px black;
				}

			}
		}

		.trflr-name-wrapper{
			padding-left: 0px;
			padding-right: 0px;
			display: inline;
			h5.trflr-profile-name{
				margin-top: 10px;
				margin-bottom: 10px;
				a{
					color:white;
					text-shadow: 0 1px 3px black;

				}
			}
			a.trflr-profile-username{
				font-weight: normal;
				display: iline-block;
				color: $primary-red;
			}
		}
	}
}

.trflr-post{
	h1.trflr-title{
		position: absolute;
		left: 30px;
		margin-top: 10px;
		font-weight: bold;
		color: white;
		text-shadow: 0px 1px 1px black;
		font-size: 2.4em;
		z-index: 9;

		a{
			color:white;
		}

		a:hover,a:focus{
			color:$lightgray-light;
		}
	}
}

.angular-google-map-container { height: 200px; }


.tab-content{
	background: white;
	
}

.tr-datepicker{
	.dropdown-menu{
		background: white;
	}
}