//$icon-font-path     :   "/assets/fonts/";
$fa-font-path:        "/assets/fonts" !default;
//$brand-primary      :   #6f5499;
//$input-border-focus :   #6f5499;
//$border-radius-base :   3px;

@import '../bower_components/fontawesome/scss/font-awesome';
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss

$navbar-background-color:                    #E9573F !default; //#3BAFDA
$navbar-background-color-active:             #FC6E51 !default; //#4FC1E9
$list-primary:                                 #FC6E51 !default;
$label-primary:                                 #FC6E51 !default;
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import '../bower_components/Bootflat/bootflat/scss/bootflat';
@import '../bower_components/Bootflat/bootflat/scss/bootflat.scss';

$primary-red:				#c52f17 !default;

@font-face{
	font-family: Pacifico;
	src: url('/assets/fonts/Pacifico.ttf');
}

// endbower

body{
	background: url("/assets/images/blur-background07.jpg") fixed;//#FC6E51;
}

.trflr-navbar-default{
	background: rgba(255,255,255,0.5);
	border:0px;

	.navbar-nav{
		li{
			a,a:hover,a:focus{
				color: $primary-red;
				background: none;
			}
		}
		
		.active{
			a,a:hover,a:focus{
				color: $primary-red;
				background: none;
				border-bottom: 4px solid $primary-red;
				padding-bottom: 11px;
			}
		}
	}

		& .navbar-brand:hover,
	  	& .navbar-brand:focus{
	      color: $primary-red;
	      background-color: transparent;
	      //text-shadow:0px 1px 2px rgba(94, 76, 76, 0.4);
	  	}
}

.navbar-brand{
	font-family: "Pacifico";
	color:$primary-red;
	font-size: 2em;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.4);//$darkgray-dark;

	.trflr-brand-t{
		margin-right: -5px;
	}
}

.navbar-brand:hover{
	color:$primary-red;
}