<div class="row" >
        <div class="panel panel-default" ng-show="newTrip">
          <div class="panel-heading">
            <h3 class="panel-title">New Trip <span ng-click="newTrip=false" class="pull-right" style="cursor:pointer"><i class="fa fa-times"></i></span></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Title</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Title" ng-model="addTrip.tripTitle" autofocus />
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group tr-datepicker">
                  <label for="exampleInputEmail1">Date</label>
                  <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="addTrip.tripDate" is-open="opened" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                  </span>
                  </p>
                </div>
              </div>
            </div>
              
              <div class="form-group">
                <label for="exampleInputPassword1">Location</label>
                <google-places location="location" refresh-map="refreshMap()"></google-places>
                <!--input type="text"  ng-autocomplete ng-model="autocomplete" options="options" details="details"/-->     
                <!--button ng-click="doSearch()" class="btn btn-large btn-primary">Search</button-->
                <!--button ng-click="refreshMap()">Refresh</button-->
              </div>
              <div class="form-group">
                <google-map center="location" zoom="map.zoom" draggable="true" refresh="newTrip" control="map.control">
               <marker coords="location" labelContent="{{details.name}}" labelAnchor="22 0" labelClass="marker-labels" >
                    </marker>
                </google-map>
              </div>
              <button type="button" class="btn btn-default pull-right" ng-click="postTrip()">Submit</button>
          </div>
        </div>
      </div>
      <div class="clear-fix"></div>
      <div class="row" ng-repeat="tr in trips.data | orderBy:id:reverse">
        <div class="jumbotron trflr-post">
          <h1 class="trflr-title"><a href="#" ng-click="toPost(tr.id)">{{ tr.title }}</a></h1>
          <div class="jumbotron-photo">
            <google-map center="{latitude:getLatitude(tr.coordinat),longitude:getLongitude(tr.coordinat)}" zoom="12" draggable="false">
               <marker coords="{latitude:getLatitude(tr.coordinat),longitude:getLongitude(tr.coordinat)}" >
                  <marker-label content="tr.title" anchor="22 0" class="marker-labels"/>
                </marker>
            </google-map>
            <!--map style="display:block;height:200px" center="[{{getLatitude(tr.coordinat)}},{{getLongitude(tr.coordinat)}}]" zoom="8">
              <marker position="[{{getLatitude(tr.coordinat)}},{{getLongitude(tr.coordinat)}}]" title="{{ tr.title }}" ></marker>
            </map-->
          </div>
          <div class="jumbotron-contents">
            <div class="trflr-post-menu">
              <div class="row">
                <div class="col-xs-6">
                  <div class="row">
                    <div class="col-xs-6"><i class="fa fa-map-marker"></i> 14 Locations</div>
                    <div class="col-xs-6"><i class="fa fa-exchange"></i> 100 Km</div>
                  </div>
                </div>
                <div class="col-xs-4 pull-right">
                  <div class="row">
                    <!--div class="col-xs-4 pull-right" style="margin-right:10px;"><button class="btn btn-default"><i class="fa fa-edit"></i>Edit</button-->
                    </div>
                    <div class="col-xs-6 pull-right" style="margin-right:20px;"><button class="btn btn-default" ng-click="createPost(tr.id)"><i class="fa fa-edit"></i>Create Post</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>