<div class="row">
        <div class="panel panel-default" ng-show="newPost">
          <div class="panel-heading">
            <h3 class="panel-title">New Post in "{{ posts.trip.title }}" trip <span ng-click="newPost=false" class="pull-right" style="cursor:pointer"><i class="fa fa-times"></i></span></h3>
          </div>
          <div class="panel-body">
              <textarea class="form-control" ng-model="addPost.caption"></textarea>
              <br>
              <button ng-click="selectFile()" class="btn btn-success" style="margin-bottom:20px"><i class="fa fa-picture-o"></i> Upload Image</button>
             <input type="file" style="display:none" id="file" name='file' onchange="angular.element(this).scope().setFiles(this)"/> {{ files.name}}
              <div class="clearfix"></div>
             <google-places location="postLocation" refresh-map="refreshMap()"></google-places>
             <br/>
               <google-map center="postLocation" zoom="map.zoom" draggable="false" refresh="newTrip" pan="true" control="map.control">
               <marker coords="postLocation" >
                  <marker-label content="postLocation.name" anchor="22 0" class="marker-labels"/>
                </marker>
            </google-map>
              <br>
              <button class="btn btn-default pull-right" ng-click="sendPost()">Post</button>
              <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="clear-fix"></div>
      <div class="row">
        <div class="jumbotron trflr-post">
          <div class="jumbotron-photo">
            <google-map center="first" zoom="10" draggable="true">
               <marker ng-repeat="tr in posts.data" coords="{latitude:getLatitude(tr.coordinat),longitude:getLongitude(tr.coordinat)}" >
                  <marker-label content="tr.caption" anchor="22 0" class="marker-labels"/>
                </marker>
                <marker ng-repeat="tr in posts.data" coords="{latitude:getLatitude(tr.coordinat),longitude:getLongitude(tr.coordinat)}" >
                  <marker-label content="tr.caption" anchor="22 0" class="marker-labels"/>
                  <polyline path="pol" stroke="stroke" fit="false"></polyline>
                </marker>
            </google-map>
          </div>
        </div>
      </div>
      <div class="row" ng-repeat="ps in posts.data">
        <div class="jumbotron trflr-post">
          <div class="jumbotron-photo">
            <img ng-show="ps.photo" src="/media/foto/{{ps.photo}}">
          </div>
          <div class="jumbotron-contents">
            <div class="trflr-post-menu">
              <div class="row">
               <blockquote>
                <p style="font-style:italic;font-weight:bold;">{{ps.caption}}</p>
              </blockquote>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div class="row">
                    <div class="col-xs-6"><i class="fa fa-map-marker"></i> 14 Locations</div>
                    <div class="col-xs-6"><i class="fa fa-exchange"></i> 100 Km</div>
                  </div>
                </div>
                <div class="col-xs-4 pull-right">
                  <div class="row">
                    <div class="col-xs-6 pull-right" style="text-align:right"><i class="fa fa-thumbs-up"></i> Likes</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>